<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма интервью</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'interviews/css/interview_form.css' %}">
    <script src="{% static 'interviews/js/interview_form.js' %}" defer></script>
</head>
<body>
<h1>Форма интервью</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
    <a href="{% url 'interview_list' %}" class="btn-back">Назад к списку</a>

</form>
</body>
</html>
