<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'candidate/css/home_candidate.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система собеседований - Кандидат</title>
</head>
<body>

<div class="container">
    <div class="header">
        <h1>Личный кабинет кандидата</h1>
        <button onclick="window.location.href='/resumedata/candidate/';">Мои резюме</button>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    </div>

    <div class="section">
        <h2>Предстоящие собеседования</h2>
        {% for interview in upcoming_interviews %}
        <div class="card">
            <p><strong>Дата:</strong> {{ interview.start_time|date:"Y-m-d" }}</p>
            <p><strong>Время:</strong> {{ interview.start_time|time:"H:i" }}</p>
            <p><strong>Компания:</strong> {{ interview.selection.interviewer.company.name }}</p>
            <p><strong>Интервьюер:</strong> {{ interview.selection.interviewer.user.get_full_name }}</p>
            <div class="card-actions">
                <button onclick="window.location.href='/interview/candidate/'">Посмотреть детали</button>
            </div>
        </div>
        {% empty %}
        <p>Нет предстоящих собеседований.</p>
        {% endfor %}
    </div>

    <div class="section">
        <h2>Пройденные собеседования</h2>
        {% for interview in completed_interviews %}
        <div class="card">
            <div class="status {% if interview.result|lower == 'одобрено' %}approved{% elif interview.result|lower == 'не одобрено' %}not-approved{% else %}in-progress{% endif %}">
                {{ interview.result }}
            </div>
            <p><strong>Дата:</strong> {{ interview.start_time|date:"Y-m-d" }}</p>
            <p><strong>Компания:</strong> {{ interview.selection.interviewer.company.name }}</p>
            <p><strong>Интервьюер:</strong> {{ interview.selection.interviewer.user.get_full_name }}</p>
            <p><strong>Комментарии интервьюера:</strong> {{ interview.feedback|default:"Комментарий отсутствует." }}</p>
            <div class="card-actions">
                <button onclick="window.location.href='/interview/candidate/'">Посмотреть решение</button>
            </div>
        </div>
        {% empty %}
        <p>Нет пройденных собеседований.</p>
        {% endfor %}
    </div>
</div>

</body>
</html>
