<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система собеседований</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'interviewer/css/home_interviewer.css' %}">
</head>
<body>

<div class="container">
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
    <button class="schedule-button" id="openModalButton">Запланировать собеседование</button>
    <h1>Система собеседований</h1>

    <div class="modal" id="scheduleModal">
        <div class="modal-content">
            <button class="close-button" id="closeModalButton">&times;</button>
            <h2>Запланировать собеседование</h2>
            <form id="scheduleForm">
                <label for="candidateName">ФИО кандидата:</label>
                <select id="candidateName" name="candidateName" required>
                    <option value="" disabled selected>Выберите кандидата</option>
                    {% for resume in resumes %}
                    <option value="{{ resume.id }}" data-id="{{ resume.interviewer.id }}">
                        {{ resume.candidate.user.last_name }} {{ resume.candidate.user.first_name }} – {{ resume.desired_position }}
                    </option>
                    {% endfor %}
                </select>

                <label for="type">Тип интервью:</label>
                <input type="text" id="type" name="type" placeholder="Техническое" required>

                <label for="date">Дата:</label>
                <input type="date" id="date" name="date" required>

                <label for="time">Время:</label>
                <input type="time" id="time" name="time" required>

                <label for="duration">Продолжительность (минут):</label>
                <input type="number" id="duration" name="duration" required>

                <label for="tasks-container">Назначить задания:</label>
                <div id="tasks-container">
                    <div class="task-row">
                        <select name="tasks[]" class="task-select" required>
                            <option value="" disabled selected>Выберите задание</option>
                            {% for task in tasks %}
                            <option value="{{ task.id }}">
                                {{ task.title|truncatechars:30 }}
                            </option>
                            {% endfor %}
                        </select>
                        <button type="button" class="remove-task-button" onclick="removeTask(this)">✖</button>
                    </div>
                </div>
                <button type="button" id="add-task-button">Добавить еще</button>

                <br> <br>
                <label for="link">Ссылка на подключение:</label>
                <input type="url" id="link" name="link" placeholder="https://" required>

                <button type="submit">Сохранить</button>
            </form>
        </div>
    </div>

    <div class="section">
        <h2>Предстоящие собеседования (<span id="upcomingCount">{{ upcoming_count }}</span>)</h2>
        {% for interview in upcoming_interviews %}
        <div class="card_one" data-id="{{ interview.id }}">
            <p><strong>Дата:</strong> {{ interview.start_time|date:"Y-m-d" }}</p>
            <p><strong>Время:</strong> {{ interview.start_time|time:"H:i" }}</p>
            <p><strong>Кандидат:</strong> {{ interview.selection.resume.candidate.user.get_full_name }}</p>
            <p><strong>Тип интервью:</strong> {{ interview.type }}</p>
            {% if interview.interviewtaskitem_set.count > 0 %}
                <p><strong>Назначенные задания:</strong>
                    {% for task in interview.interviewtaskitem_set.all %}
                    {{ task.task_item.title }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            <p><strong>Ссылка на подключение:</strong>
                <a href="{{ interview.additional_url }}" target="_blank">{{ interview.additional_url }}</a>
            </p>
            <a href="/resumedata/interviewer/">
                <button>Резюме кандидата</button>
            </a>
            <a href="/interview/interview-tasks/?interview_id={{interview.id}}">
                <button>Перейти к заданиям</button>
            </a>
            <button class="cancel-interview-button red-button">Отменить собеседование</button>
        </div>
        {% empty %}
        <p>Нет предстоящих собеседований.</p>
        {% endfor %}
    </div>
    <div class="section">
        <h2>Проведенные собеседования (<span id="completedCount">{{ completed_count }}</span>)</h2>
        {% for interview in completed_interviews %}
        <div data-id="{{ interview.id }}" class="card" data-status="{{ interview.result|lower }}"
             data-comment="{{ interview.feedback|default:'Комментарий отсутствует.' }}">
            <p><strong>Дата:</strong> {{ interview.start_time|date:"Y-m-d" }}</p>
            <p><strong>Время:</strong> {{ interview.start_time|time:"H:i" }}</p>
            <p><strong>Кандидат:</strong> {{ interview.selection.resume.candidate.user.get_full_name }}</p>
            <p><strong>Тип интервью:</strong> {{ interview.type }}</p>
            <p><strong>Решенные задания:</strong>
                {% for task in interview.interviewtaskitem_set.all %}
                {{ task.task_item.title }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><strong>Комментарии интервьюера:</strong>
                <span class="comment-text">{{ interview.feedback|default:'Комментарий отсутствует.' }}</span>
            </p>
            <p><strong>Статус:</strong>
                {% if interview.result|lower == "на рассмотрении" %}
                <span class="status pending">{{ interview.result }}</span>
                {% elif interview.result|lower == "одобрено" %}
                <span class="status approved">{{ interview.result }}</span>
                {% elif interview.result|lower == "не одобрено" %}
                <span class="status rejected">{{ interview.result }}</span>
                {% endif %}
            </p>
            <a href="/interview/interview-tasks/?interview_id={{interview.id}}">
                <button>Посмотреть решение заданий кандидата</button>
            </a>
            <form class="update-status-form">
                <label>Изменить статус:</label>
                <select class="status-select">
                    <option value="approved|одобрено" {% if interview.result|lower == "одобрено" %}selected{% endif %}>Одобрено</option>
                    <option value="rejected|не одобрено" {% if interview.result|lower == "не одобрено" %}selected{% endif %}>Не одобрено</option>
                    <option value="pending|на рассмотрении" {% if interview.result|lower == "на рассмотрении" %}selected{% endif %}>На рассмотрении</option>
                </select>

                <label>Комментарий:</label>
                <textarea class="comments" rows="4" placeholder="Добавьте комментарий...">{{ interview.feedback|default:'' }}</textarea>
                <button type="submit">Сохранить изменения</button>
            </form>
        </div>
        {% empty %}
        <p>Нет проведенных собеседований.</p>
        {% endfor %}
    </div>
    <div class="task-container">
        <h2><a href="{% url 'tasks_with_choices' %}">Задания с вариантами ответов</a></h2>
        <ol>
            {% for task in choice_tasks %}
            <li>
                <h3><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></h3>
                <p>{{ task.task_condition|truncatechars:100 }}</p>
                <a class="details-button" href="{% url 'task_detail' task.id %}">Подробнее</a>
            </li>
            {% endfor %}
        </ol>
    </div>

    <div class="task-container">
        <h2><a href="{% url 'tasks_with_open_questions' %}">Задания с открытыми вопросами</a></h2>
        <ol>
            {% for task in open_tasks %}
            <li>
                <h3><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></h3>
                <p>{{ task.task_condition|truncatechars:100 }}</p>
                <a class="details-button" href="{% url 'task_detail' task.id %}">Подробнее</a>
            </li>
            {% endfor %}
        </ol>
    </div>

    <div class="task-container">
        <h2><a href="{% url 'tasks_with_code_questions' %}">Задания с написанием кода</a></h2>
        <ol>
            {% for task in code_tasks %}
            <li>
                <h3><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></h3>
                <p>{{ task.task_condition|truncatechars:100 }}</p>
                <a class="details-button" href="{% url 'task_detail' task.id %}">Подробнее</a>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>



<script src="{% static 'interviewer/js/home_interviewer.js' %}"></script>
<script>
    const AUTH_USER_ID = {{ request.user.id }};
</script>
</body>
</html>
